NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/minierp_db?schema=public"
JWT_SECRET=super-secret-jwt-key-minierp-2026-production
JWT_EXPIRES_IN=1d
CORS_ORIGIN="http://localhost:5173"
AWS_REGION=us-east-1
AWS_S3_BUCKET=minierp-product-images
AWS_ACCESS_KEY_ID=mock_key
AWS_SECRET_ACCESS_KEY=mock_secret
